<% if !@soapps_repos.nil? %>
  <% @soapps_repos.each do |repo| %>
		<div id="<%= repo.id %>" class="card-repo">
      <%= link_to "X", repo, remote: true, method: :delete, class: "btn-delete" %>

			<h2><%= repo.display_name %></h2>
      <p class="github">
        <a href='<%=repo.name%>'>
          <%= image_tag(("github-icon.png"), :class => "git_logo")%>
        </a>
        <%= link_to repo.name , repo_path(repo.id), :class => "git_logo_link" %>
      </p>
      <h4>LASTEST COMMITS</h4>
      <hr><br>
      <ul class="branch_list">
        <% repo.commits.order(:updated_at).reverse.last(6).each do |commit| %>
          <li>
            <%= image_tag(commit.branch.user.avatar_url, :class => "git_img") %>
            <span><%= link_to commit.message, commit_path(commit) %></span><br>
            <p class="time_hover"><%=form_time(commit.created_at)%></p>
          </li>
        <% end %>
      </ul>
      <%= link_to "+ INFO" , repo_path(repo), :class=>"more-info" %>
    </div>
  <% end %>
<% end %>

