<% if !@soapps_repos.nil? %>
  <% @soapps_repos.each do |repo| %>
		<div class="card-repo">
			<h2>REPO</h2>
      <p>
        <span><a href=<%=repo.name%>><%= image_tag(("github-icon.png"), :class => "git_logo")%></a></span>
        <%= link_to repo.name , repo_path(repo.id) %>
      </p>
      <h4>LAST COMMITS</h4>
      <hr>
      <ul class="branch_list">
        <% repo.commits.last(6).each do |commit| %>
          <li>
            <%= image_tag(commit.branch.user.avatar_url, :class => "git_img") %>
            <span><%= link_to commit.message, commit_path(commit) %></span><br>
            <p class="time_hover"><%=form_time(commit.created_at)%></p>
          </li>
        <% end %>
      </ul>
      <%= flash[:notice] %>
    </div>
  <% end %>
<% end %>

