<% if !@soapps_repos.nil? %>
  <% @soapps_repos.each do |repo| %>
		<div class="card-repo">
			<h2>REPO</h2>
      <p><%= link_to repo.name , repo_path(repo.id) %></p>
      <h4>LAST COMMITS</h4>
      <hr>
      <ul class="branch_list">
        <li>
        	<%= image_tag(@user.avatar_url) %>
        	<span>started repo view page</span>
        </li>

        <li>
        	<%= image_tag(@user.avatar_url) %>
        	<span>basic collision detection is working</span>
        </li>

        <li>
        	<%= image_tag(@user.avatar_url) %>
        	<span>Merge pull request #18 from mud-turtles-2014/logout_app</span>
        </li>

        <li>
        	<%= image_tag(@user.avatar_url) %>
        	<span>return 500 to hook on missing user or repo</span>
        </li>

        
      </ul>

    </div>
  <% end %>
<% end %>

