<div class="new-repo">
  <%=link_to "ADD", new_repo_path, class: :add_button %>
  <%= link_to "Download Rake Task", download_rakefile_instructions_path, class: :download_button %>
  <%= link_to "Download Hook File", download_hook_instructions_path, class: :download_button %>
  <p>new repo</p>

  <div class="display-repos">
    <h3>Select A Repo:</h3>
    <%= form_tag @repo do |f| %>
       <%= select_tag(:name, options_for_select(@github_repos), :class=>"repo-list-options") %>
        <%= submit_tag ("Add Repo" )%>
    <% end %>
  </div>
</div>

