  <% @non_user_branches.each do |branch| %>
    <div class="card-repo">
      <h2><%= branch.user.name.upcase %></h2>
      <h4>LASTEST COMMITS</h4>
      <hr>
      <ul class="branch_list">
        <% branch.commits.order(:updated_at).reverse_order.limit(6).each do |commit| %>
          <li>
            <%= image_tag(commit.branch.user.avatar_url) %>
            <span><b><%= link_to commit.message, commit_path(commit) %></b></span>
            Branch name: <%= branch.name %>
            <p class="time_hover"><%= form_time(commit.updated_at) %></p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
