
<div class="repositories">
  <div class="content-repo">
    <%= render "non_user_commits" %>

    <%= render "warning_card" %>

    <div class="card-repo">
      <h2>HEATMAP</h2>
      <h4>WHATS HOT IN YOUR SOAPP</h4>
      <hr>
      <ul class="branch_list">
          <% (@repo_commits).each do|hot_file| %>
            <li>
              <h3><%=hot_file[0] %></h3> with
              <strong><%=hot_file[1] %></strong> commits
            </li>
            <%end%>


      </ul>
      <%= flash[:notice] %>
    </div>




  </div>
</div>
