<!DOCTYPE html>
<html>
<head>
  <title>Soapp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>SOAPP</h1><br>
	<h3>State Of The APP</h3>
<%= flash[:notice] %>
<%= link_to 'Sign in with github', '/auth/github/' %>
<%=link_to "New", new_repo_path %>
<%= yield %>

</body>
</html>
