<!DOCTYPE html>
<html>
<head>
  <title>Soapp</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon">
</head>
<body>
  <header>
    <div class="logo"><%= link_to 'SOAPP', root_path %></div>
    <nav>
      <ul>
        <% if session[:user_id] %>
          <li><%= link_to 'log out', logout_path %></li>
        <% else %>
          <li><%= link_to 'log in', '/auth/github/' %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <%= flash[:notice] %>

  <%= yield %>

</body>
</html>
